:host {
    display: block;
}

.top {
    background: #20355b;
    font-size: 13px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0 16px;
    align-items: center;
    white-space: nowrap;
}

.applogo {}

.logo img {
    height: 40px;
}